:root {
    --bg-color: rgb(246,242,244);
    --title-color: #414141;
    --logo-color: rgb(241,158,75);
    --line-casa-cubo: #FFC800;
    --line-casa-jacaranda: #540D6E;
    --line-cassal-diseno: #F26157;
    --line-fantasias: #E01A4F;
    --line-habitark: #3777FF;
    --line-maquetas: #6BD425;
    --line-paso-del-humo: #2DE1C2;
    --line-sotavento: #0071BC;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 4rem 6rem;
    background-color: var(--bg-color);
    font-family: 'Albert Sans', sans-serif;

}

#bar {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}

#logo {
    height: 6rem;
    grid-column: 1;
}

#name {
    display: inline;
    font-weight: 600;
    font-size: 3rem;
    color: var(--title-color);
    margin: 0;
    grid-column: 2;
}


.subtitle {
    padding-left: 1.5rem;
    font-size: 2rem;
    color: aliceblue;
}

.subtitle-casa-cubo {
    background-color: var(--line-casa-cubo);
}

.subtitle-casa-jacaranda {
    background-color: var(--line-casa-jacaranda);
}

.subtitle-cassal-diseno {
    background-color: var(--line-cassal-diseno);
}

.subtitle-fantasias {
    background-color: var(--line-fantasias);
}

.subtitle-habitark {
    background-color: var(--line-habitark);
}

.subtitle-maquetas {
    background-color: var(--line-maquetas);
}

.subtitle-paso-del-humo {
    background-color: var(--line-paso-del-humo);
}

.subtitle-sotavento {
    background-color: var(--line-sotavento);
}

.img-render {
    width: 100%;
}

#casa-cubo-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

#casa-cubo-render1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

#casa-cubo-render2 {
    grid-column: 1 / 2;
    grid-row: 2;
}
#casa-cubo-render3 {
    grid-column: 2 / 3;
    grid-row: 2;
}

#casa-cubo-render4 {
    grid-column: 1 / 3;
    grid-row: 3;
}

#casa-jacaranda-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

#casa-jacaranda-render1 {
    grid-column: 1;
    grid-row: 1 / 3;
}

#casa-jacaranda-render2 {
    grid-column: 2;
    grid-row: 1;
}

#casa-jacaranda-render3 {
    grid-column: 2;
    grid-row: 2;
}

#casa-jacaranda-render4 {
    grid-column: 1 / 3;
    grid-row: 3;
}

#cassal-diseno-grid {
    display: grid;
    grid-template-columns: 1;
    row-gap: 1rem;   
}

#fantasias-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1rem;
}

#fantasias-render1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

#fantasias-render2 {
    grid-column: 1;
    grid-row: 2;
}

#fantasias-render3 {
    grid-column: 2;
    grid-row: 2;
}

#fantasias-render4 {
    grid-column: 1 / 3;
    grid-row: 3;
}

#habitark-grid {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
}

#paso-del-humo-grid {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
}

#maquetas-grid {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
}

#sotavento-grid {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
}

footer {
    text-align: center;
}

#footer-grid {
    height: 0.5rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1;
}

#social-media {
    font-size: 2rem;
    margin-top: 1.6rem;
    color: var(--logo-color);
}

a {
    text-decoration: none;
    color: var(--logo-color);
}

.fa-brands {
  cursor: pointer;
  
}

#footer-name {
    margin-top: 0.7rem;
}

.text-footer {
    font-size: 0.9rem;
    display: inline;
    color: var(--logo-color);
}

#topBtn{
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: var(--logo-color);
    color: white;
    border: none;
    cursor: pointer;
    display: none;
  }

  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  
  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }